
<header class = "bar">
    <p>CODE_CONNECT</p>
    <!-- Sign In Form -->
    <% if(!locals.authenticated){ %>
    <div id="sign-in">
        <form action="/sign-in" method="POST">
            <label for="sign-in-email">Email:</label>
            <input id = "sign-in-email" name = "email" type="email" placeholder="abc@xyz.com" required>
            <label for="sign-in-password">Password:</label>
            <input type="password" name="password" id="sign-in-password" required>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <% }else{ %>
        <a href="/sign-out">Sign Out</a>
    <% } %>
</header>