
<link rel="stylesheet" href="/css/home.css">

<!-- Sign Up Form -->
<% if(!locals.authenticated){ %>
    <div id="sign-up">
        <h1>Don't have an account? Sign up now!</h1>
        <form action="/sign-up" method="POST">
            <input id = "sign-up-name" type="text" name = "name" required placeholder="Name">
            <input id = "sign-up-email" name = "email" type="email" placeholder="abc@xyz.com" required>
            <input type="password" name="password" id="sign-up-password" required placeholder="Password">
            <input type="password" name="confirm_password" id="sign-up-confirm-password" required placeholder="Confirm Password">
            <button type="submit">Create Account</button>
        </form>
    </div>
<% } %>