<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <%- include('_header') %>

        <!-- This is the variable part -->
        <%- body %>

        <%- include('_footer') %>
    </body>
</html>